<div class="span3 right">
    
        <if condition="!empty($user_info)">
        <div class="usercard container-box">
            <div class="ui-header">
                <a href="">
                    <img src="__ROOT__/Uploads/avatar/b_<empty name="user_info['avatar']">default.png<else />{$user_info.avatar}</empty>" alt="" class="avatar" />
                </a>
                <div class="username">{$user_info.username}</div>                    
                <div class="website">
                    <a href=""></a>
                </div>
            </div>
            <div class="ui-content">
                <div class="status status-topic"> <strong><a href="{:U('Index/User/topics')}">{$counter_topics|default="0"}</a></strong> 
                    话题
                </div>
                <div class="status status-reply">
                    <strong><a href="{:U('Index/User/replies')}">{$counter_replies|default="0"}</a></strong> 
                    回复
                </div>
                <div class="status status-favorite">
                    <strong>
                        <a href="{:U('Index/User/favorites')}">{$counter_favorites|default="0"}</a>
                    </strong>
                    收藏
                </div>
                <div class="status status-reputation">
                    <strong>
                       {$counter_favorites|default="0"}
                   </strong>
                   声望
               </div>
           </div>
       </div>
        </if>

       <div class="sidebox container-box mt10 ">
        <div class="ui-header">
            <span class="title" style="color: #009a61">这是什么网站？<div class="fr"><a href="#">了解更多</a></div></span>
        </div>
        <div class="ui-content">
            MusicNote是一个专注于曲谱分享，创作，以及相关音乐相关的一个社区，在这里大家可以书写创作只属于你自己的曲谱，和曲位相投的朋友结识。MusicNote只为爱音乐的你而来。
            <p class="hor-tabs" style="margin-bottom: 0px">
                <a href="/register" style="color: #009a61">立即注册</a>
                <i></i>
                <a href="#" style="color: #009a61">如何发帖</a>
            </p>
        </div>
    </div>

    <div class="sidebox container-box mt10 ">
        <div class="ui-header">
            <span class="title" style="color: #009a61">最热小组<div class="fr"><a href="{:U('Index/Nodes/index')}">all</a></div></span>
        </div>
        <div class="ui-content hot-nodes">
            <foreach name="hot_nodes" item="node">
                <a href="{:U('Index/Nodes/nodetopic',array('slug' => $node['slug']))}">{$node.name}</a>
            </foreach>
        </div>
    </div>
</div>
</div>