<!DOCTYPE HTML>
<html lang="zh-CN">
<include file="Index:header" />
<body padding-top: 60px; background="__PUBLIC__/images/wallpaper.png";>
    <include file="Index:navibar" />
    <div class="container-fluid container mt15">
        <div class="row-fluid">
            <div class="span9 left">
                <div class="container-box">
                    <form class="form-horizontal" action='{:U('Index/Settings/setpwd')}' method="POST">
                        <fieldset>
                            <div id="legend">
                                <legend class="">用户密码设置</legend>
                            </div>
                            
                            <div class="control-group">
                                <!-- Password-->
                                <label class="control-label" for="password_old">当前密码</label>
                                <div class="controls">
                                    <input type="password" id="password_old" name="password_old" placeholder="" class="input-xlarge">
                                    <p class="help-block">密码不少于4个字符</p>
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Password-->
                                <label class="control-label" for="password">新密码</label>
                                <div class="controls">
                                    <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                                    <p class="help-block">密码不少于4个字符</p>
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Password -->
                                <label class="control-label" for="password_confirm">新密码（确认）</label>
                                <div class="controls">
                                    <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
                                    <p class="help-block">请再次输入新密码</p>
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Button -->
                                <div class="controls">
                                    <button class="btn btn-success">保存改动</button>
                                    <a href="{:U('Index/Settings/index')}" class="ml10 btn">返回设置页</a>
                                </div>
                            </div>
                        </fieldset>
                        
                    </form>
                </div>

            </div>

        <div class="span3 right">
            <div class="sidenav container-box">
                <ul>
                    <li class="current">
                        <a href="{:U('Index/Settings/index')}">用户中心</a>
                    </li>
                    <li>
                        <a href="{:U('Index/Settings/avatar')}">设置头像</a>
                    </li>
                    <li>
                        <a href="{:U('Index/Settings/setpwd')}">设置密码</a>
                    </li>
                    <li>
                        <a href="__APP__">返回首页</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <include file="Index:footer" />
</body>
</html>