<!DOCTYPE HTML>
<html lang="zh-CN">
<include file="Index:header" />
<body padding-top: 60px; background="__PUBLIC__/images/wallpaper.png";>
    <div class="navbar  navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="__APP__">MusicNote</a>

                <!--/.nav-collapse -->
                <form class="navbar-search pull-left J_search">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
                <div class="nav-collapse collapse">
                    <ul class="nav">                        
                        <li class="<if condition="$active_page eq 'index'">active</if>">
                            <a href="__APP__">首页</a>
                        </li>
                        <li class="<if condition="$active_page eq 'nodes'">active</if>">
                            <a href="{:U('Index/Nodes/index')}">小组</a>
                        </li>
                        <li class="<if condition="$active_page eq 'members'">active</if>">
                            <a href="{:U('Index/User/members')}">成员</a>
                        </li>
                        
                    </ul>
                </div>

                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">  
                        <if condition="$loginbool eq 1">
                            <li>
                            <a href="{:U('Index/User/index')}">{$user_info.username}</a>
                            </li>
                            <li>
                                <a href="{:U('Index/Login/logout')}">退出</a>
                            </li>

                        <else />
                           <li>
                            <a href="{:U('Index/Login/index')}">登录</a>
                            </li>
                            <li>
                                <a href="{:U('Index/Register/index')}">注册</a>
                            </li>
                        </if>            
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid container mt15">
        <div class="row-fluid">
        <div class="span9 left">
              <div class="user-page">
    <div class="profile container-box">
        <div class="ui-header">
            <a href="{:U('Index/User/profile',array('username' => $user_profile['username']))}">
                <img src="__ROOT__/Uploads/avatar/b_<empty name="user_profile['avatar']">default.png<else />{$user_profile.avatar}</empty>" alt="" class="avatar" />
            </a>
            <div class="username">{$user_profile.username}
                <if condition="!empty($user_profile['username']) && $show_follow">
                <span class="label label-success" style="margin-left:4px"><a href="{:U('Index/User/profilehandle',array('username' => $user_profile['username']))}" style="color:#FFFFFF">{$follow_text}</a></span>
                </if>
            </div>
                    
            <if condition="!empty($user_profile['website'])">
                <div class="website">
                    <a href="{$user_profile.website}">{$user_profile.website|default=""}</a>
                </div>
            </if>
            <div class="user-number">
                <div class="number">叁年壹班 第{$user_profile.uid}号成员</div>
                <div class="since">入住于 {$user_profile.created}</div>
            </div>
        </div>
        <div class="ui-content">
            
            <if condition="!empty($user_profile['location'])">
            <dl>
                <dt>城市</dt>
                <dd>{$user_profile.location}</dd>
            </dl>
            </if>
               
            <if condition="!empty($user_profile['website'])">
            <dl>
                <dt>Blog</dt>
                <dd>
                    <a href="{$user_profile.website}">{$user_profile.website}</a>
                </dd>
            </dl>
           </if>
            <if condition="!empty($user_profile['signature'])">
            <dl>
                <dt>签名</dt>
                <dd>{$user_profile.signature}</dd>
            </dl>
            </if>
            <if condition="$show_follow">
                <span class="label label-warning pull-right" style="margin-left:4px"><a href="{:U('Index/User/message',array('username' => $user_profile['username']))}" style="color:#FFFFFF">私信</a></span>
            </if>
        </div>
    </div>

        {% if not topics.page.total == 0 %}
    <div class="topic-lists container-box mt10">
        <div class="ui-header">
            <span class="title">话题列表</span>
        </div>
        <div class="ui-content topics">
            {% for topic in topics.list %}
            <div class="topic-item">
                <img src="/static/avatar/m_{{ topic.author_avatar or 'default.png' }}?t={{ gen_random() }}" alt="" class="avatar" />
                <div class="main">
                    <h3 class="title">
                        <a href="/t/{{ topic.id }}#reply{{ topic.reply_count or 0 }}">{{ topic.title }}</a>
                    </h3>
                    <div class="meta">
                        <span class="node">
                            <a href="/node/{{ topic.node_slug }}">{{ topic.node_name }}</a>
                        </span>
                        •
                        <span class="username">
                            <a href="/u/{{ topic.author_username or topic.author_uid }}">{{ topic.author_username }}</a>
                        </span>
                        • 
                                {% if topic.last_replied_time %}
                        <span class="last-touched">{{ topic.last_touched|pretty_date }}</span>
                        •
                        <span class="last-reply-username">
                            最后回复来自
                            <a href="/u/{{ topic.last_replied_username or topic.last_replied_uid }}"> <strong>{{ topic.last_replied_username }}</strong>
                            </a>
                        </span>
                        {% else %}
                        <span class="last-touched">{{ topic.last_touched|pretty_date }}</span>
                        {% endif %}
                    </div>
                </div>
                {% if topic.reply_count %}
                <div class="count">
                    <a href="/t/{{ topic.id }}#reply{{ topic.reply_count or 0 }}">{{ topic.reply_count or 0 }}</a>
                </div>
                {% endif %}
            </div>
            {% endfor %}

                {#
            <div class="pagination">{{ topics.page|pagination(request.uri) }}</div>
            #}
        </div>
        <div class="ui-footer">
            <a href="/u/{{ user_info.username }}/topics">›› 查看更多话题</a>
        </div>
    </div>
    {% endif %}

        {% if not replies.page.total == 0 %}
    <div class="replies-lists container-box mt10">
        <div class="ui-header">
            <span class="title">回复列表</span>
        </div>
        <div class="ui-content topics">
            {% for reply in replies.list %}
            <div class="reply-item">
                <div class="main">
                    <span class="title">
                        回复了 {{ reply.topic_author_username }} 创建的话题
                        <a href="/t/{{ reply.topic_id }}">{{ reply.topic_title }}</a>
                    </span>
                    <div class="content">{{ reply.content|markdown|content_process }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="ui-footer">
            <a href="/u/{{ user_info.username }}/replies">›› 查看更多回复</a>
        </div>
    </div>
    {% endif %}
</div>


        </div>

        <div class="span3 right">
            <div class="sidebox container-box mt10 ">
                <div class="ui-header">
                    <span class="title" style="color: #009a61">这是什么网站？<div class="fr"><a href="#">了解更多</a></div></span>
                </div>
                <div class="ui-content">
                    MusicNote是一个专注于曲谱分享，创作，以及相关音乐相关的一个社区，在这里大家可以书写创作只属于你自己的曲谱，和曲位相投的朋友结识。MusicNote只为爱音乐的你而来。
                    <p class="hor-tabs" style="margin-bottom: 0px">
                        <a href="/register" style="color: #009a61">立即注册</a>
                        <i></i>
                        <a href="#" style="color: #009a61">如何发帖</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
    </div>
    <include file="Index:footer" />

</body>
</html>