{% extends "base.html" %}

    {% block content %}
<div class="container-fluid container mt15">
        <div class="row-fluid">
        <div class="span9 left">
                <div class="topics container-box node-topics">
    <div class="ui-header">
        <span class="bread-nav"><a href="{% url 'index' %}">叁年壹班</a> › {{ request.user.username }} › 回复列表</span>
    </div>

    <div class="ui-content">
        {% for reply in replies %}
        <div class="reply-item">
            <div class="main">
                <span class="title">
                    回复了 {{ reply.topic.author.username }} 创建的话题
                    <a href="{% url 'topicview' reply.topic.id %}">{{ reply.topic.title }}</a>
                </span>
                <div class="content">{{ reply.content }}</div>
            </div>
        </div>
        {% endfor %}

        {% if not replies %}
        <div class="pl10 pr10">
            <div class="alert mt20">该用户暂时还没有回复过话题。</div>
        </div>
        {% endif %}
    </div>

    <div class="ui-footer">
        <div class="pagination">分页</div>
    </div>
</div>
{% endblock %}

